// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #808080; 
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 255);
$label-color:       rgba(255, 255, 255, 255);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------


widget-priority-list.jenkins{
background-image :url ("http://www.craftmasterpaints.co.uk/colours/decorative-flat-colour/Pink.jpg") }

.widget-priority-list { 

  background-color: $background-color;
  vertical-align: top;
  

  .title { 
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
    font-size:16px;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;    
  }

  .value {
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  
  .importance-1 { background-color: #FF0000}
  .importance-2 { background-color: #333333}
  .importance-3 { background-color: #00CC00}
  .importance-4 {background-color: #006633 }
  .importance-5 {background-color: #000000}
  .importance-6 { background-color: #FFDB58}
  .importance-7 { background-color: #A32900}
  .importance-8 { background-color: #333333}
  .importance-9 { background-color: #990012}
  .importance-10 { background-color: #F88017}
  .importance-11{ background-color: #6AA121}
  .importance-12 {background-color: #1569C7}
  .importance-13 {background-color: #6A287E}

  
       
  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
    